button {
    font-size: 16px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#result {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}
nav{
    font-size: 39px;
    width: 8%;
    text-decoration-line: none;
    color: black;

}


