*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}
body{
    background-color: black;
}
/* ------header----- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
    
}
header img {
    width: 15%;
}
nav > a{
    color: red;
    text-decoration: none;
    padding: 17px;
    font-size: 29px;
}
nav > a:hover{
    color: yellow;
    box-shadow: 0 0 65px red;
}
 /* --------main------- */
 main{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 40px;
 }
.work{
    color: beige;
    width: 23%;
    background-color: rgb(174, 26, 26);
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}
.work h3{
    margin-bottom: 10px;
    font-size: 25px;
}
.work ul{
    list-style: none;
}
.Education{
    color: beige;
    background-color: rgb(174, 26, 26);
    border-radius: 10px;
    padding: 10px;
}
.Education h3{
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}
.Education li{
    list-style: none;
    font-size: 18px;
}
.skills{
    color: beige;
    width: 24%;
    background-color: rgb(174, 26, 26);
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}
.skills h3{
    margin-bottom: 8px;
    text-align: center;
    font-size: 25px;
}
.skills ul{
    list-style: none;
}


/* -------footer------ */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-top: 1px solid white;
    
}
footer img {
    width: 15%;
}
nav > a{
    color: red;
    text-decoration: none;
    padding: 17px;
    font-size: 29px;
}
nav > a:hover{
    color: yellow;
    box-shadow: 0 0 65px red;
}
   


@media (max-width: 921px){
    nav > a{
        padding: 10px;
        font-size: 22px;
    }
    main{
        flex-direction: column;
        margin: 0;
        align-items: center;
        padding: 50px 0;
    }
    .work, .Utbildning, .skills, .Education{
        width: 100%;
        border-radius: 0;
    }
    footer{
        position: relative;
    }
}