*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
/* -----header----- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
}
header img {
    width: 15%;
}
nav > a{
    color: red;
    text-decoration: none;
    padding: 17px;
    font-size: 29px;
}
nav > a:hover{
    color: yellow;
    box-shadow: 0 0 65px red;
}

/* -------mian------ */

section img {
    width: 105px;
    border-radius: 50%;
}
#Inledning h2{
    margin: 20px 0;
    font-size: 24px;
}
#Inledning p{
    margin-top: 15px;
    font-size: 24px;
    color: red;
}
#Inledning a{
    font-size: 22px;
    color: red;
}
#Inledning > div {
    border: 1px solid rgb(252, 247, 247);
    margin-right: 5px;
    margin: 40px;
    text-align: center;
    padding: 17px;
    min-width: 350px;
}
section {
    color: white ;
    font-size: 15px;
    text-align: center;
}
#Inledning {
    display: flex;
    justify-content: center;
}
/* -------footer------ */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-top: 1px solid white;
    
}
footer img {
    width: 15%;
}
nav > a{
    color: red;
    text-decoration: none;
    padding: 17px;
    font-size: 29px;
}
nav > a:hover{
    color: yellow;
    box-shadow: 0 0 65px red;
}
   

@media (max-width: 921px){
    nav > a{
        padding: 10px;
        font-size: 22px;
    }
    #Inledning{
        display: flex;
        flex-direction: column;
    }
    #Inledning > div{
        margin-right: 0;
        margin: 10px 0;
    }
    footer{
        position: relative;
    }
}