*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
/* -----header----- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
header img {
    width: 15%;
}
nav > a{
    color: red;
    text-decoration: none;
    padding: 17px;
    font-size: 24px;
}
nav > a:hover{
    color: yellow;
    box-shadow: 0 0 65px red;
}

/* -------mian------ */

section img {
    width: 105px;
    border-radius: 50%;
}
#Inledning h2{
    margin-top: 20px;
    font-size: 24px;
}
#Inledning p{
    margin-top: 15px;
    font-size: 24px;
    color: red;
}
#Inledning a{
    margin: 50px;
    font-size: 22px;
    color: red;
}
#Inledning > div {
    border: 1px solid rgb(252, 247, 247);
    margin-right: 5px;
    margin: 40px;
    text-align: center;
    padding: 17px;
    min-width: 350px;
}
section {
    color: white ;
    font-size: 15px;
    text-align: center;
}
#Inledning {
    display: flex;
    justify-content: center;
}
/* -------footer------ */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
ul > a{
    color: red;
    text-decoration: none;
    padding: 17px;
    font-size: 24px;
}
ul > a:hover{
    color: yellow;
    box-shadow:0 0 65px red;
}
footer  img{
    width: 15%;
}

/* Media
@media only screen 
  and (max-device-width: 480px)
   {
    #Inledning{
        display: inline;
    }
    .card {
        border: 1px solid rgb(26, 20, 199);
        margin: 23px;
        width : 100% !important
    }
} */